<!-- Navegación -->
<div class="header">
    <h1>Mi Administrador de Tareas</h1>
</div>
<mat-toolbar class="">
    <span>
        <a class="nav-item active" routerLink="" mat-button>Tareas</a>
    </span>
    <span>
        <a routerLink="categories" mat-button>categoires</a>
    </span>
    <span>
        <a routerLink="taskStatus" mat-button>taskStatus</a>
    </span>
    <span>
        <a routerLink="priority" mat-button>Priority</a>
    </span>
    <span>
        <a routerLink="tag" mat-button>Tags</a>
    </span>
    <span>
        <a routerLink="history" mat-button>Historial</a>
    </span>
</mat-toolbar>